doctype html
html
  head
    title Generative Jigsaws
    link(rel='icon' type='image/png',href='/favicon.png' sizes='64x64')
    meta(property='og:title' content='Generative Jigsaws')
    meta(name='twitter:title' content='Generative Jigsaws')

  body
    #root
